#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}


/* LOGIN PAGE */

.register {
  display: inline-block;
}

.registerInputs {
  display: block;
  margin-top: 10px;
  color: white;
}

.loginInputs {
  display: flex;
}

.loginInput {
  margin-bottom: 72px;
  margin-left: 50px;
}

.loginBth {
  margin-left: 90px;
}

.registerBtn {
  margin-left: 40px;
}


/* MESSAGE ITEM */

.userTime {
  text-align: left;
}

.usernameText {
  display: inline-block;
  color: #ffffffad;
  margin-top: 3vw;
}

.time {
  display: inline-block;
  color: #ffffffad;
  margin-left: 2vw;
  font-size: x-small;
}

.messageContainer {
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
}

.messageContainer p {
  font-size: 1.5vw;
  margin-top: 0;
}

.messageContainer div {
  align-self: center;
  color: white;
  margin-right: 1vw;
}

.messageContainer div i {
  margin-right: 1vw;
  cursor: pointer;
}

.messageContainer input {
  font-size: 1.5vw;
  margin-bottom: 1.8vw;
  text-align: left;
}

.messageSend {
  font-size: 1.8vw;
  margin-right: 0.5vw;
}

.sendBth {
  font-size: 1.2vw;
}


/* CHANNEL PAGE */

.scroll {
  overflow-y: auto;
  max-height: calc(100vh - 60px);
  width: 1800px;
}

.titleSTICKY {
  margin-top: 10vw;
}

.containerMember {
  display: flex;
  flex-direction: column;
}

.sidebarMember {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 3vw;
  padding-left: 2vw;
  height: 100vh;
  border-left: dotted rgba(255, 255, 255, 0.2);
}

.sidebarMember h2 {
  color: white;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 1800px), (max-height: 900px) {
  .scroll {
    width: 100%;
    height: 100%;
    order: 2;
  }
.profile {
  display: inline-block;
}



/* PROFILE PAGE */

.profileInputs {
  display: block;
  margin: 1vw;
}

.profileInputsWrite {
  margin-left: 2vw;
}

.profileInfo {
  font-size: 1.5vw;
}

.userImage {
  text-align: center;
}

.profileImage {
  width: 15vw;
  height: 20vw;
}

.profileEdit {
  font-size: 1vw;
  background-color: #7289da;
}

}