:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #37393f;
  background-color: #2e3036;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #b9bbbe;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #37393f;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* General styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Home Page */
.container {
  display: flex;
  flex-direction: column;
}

.sideNavbar {
  background-color: #202225;
  color: #fff;
  padding-right: 2vw;
  padding-left: 1vw;
  height: 100vh;
  width: 15vw;
  position: fixed;
  top: 0;
  left: 0;
}
.sideNavbar li:hover {
  cursor: pointer;
}

.addBtn {
  font-size: 1vw;
}

/* CHANNELS */
.channels {
  list-style-type: none;
  padding: 0;
  max-height: 60vh;
  width: 17vw;
  overflow-y: scroll;
}

.fixChannel {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.fixChannel p {
  font-size: 1.2vw;
}

.fixChannel div {
  align-self: center;
}

.fixChannel div i {
  padding-left: 1vw;
  font-size: 1vw;
}

.rightPad {
  padding-right: 1vw;
}

.fixChannel input {
  font-size: 1.5vw;
  width: 10vw;
  margin-top: 1.8vw;
  margin-bottom: 1.5vw;
}

/* USER PROFILE */
.navbarProfile {
  position: fixed;
  bottom: 0;
  width: 15vw;
}

.navbarProfile p {
  font-size: 1.5vw;
  cursor: pointer;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}

.navbarProfile img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  float: left;
}

.logoutButton {
  color: #fff;
  background-color: #7289da;
  cursor: pointer;
  font-size: 0.8vw;
  margin-bottom: 2vw;
}



/* CHECK THIS!!! */
/* .meesageButton {
  display: inline-block;
  width: 5%;
  padding: 5px 5px;
  background-color: #37393f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
} */


/* Main content styles */
.mainContent {
  flex: 1;
  padding: 20px;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sideNavbar {
    width: 100%;
    order: 2;
  }
}
